<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>869257979212-3j9cfmc1l9ukuo247gf41cre03putb0p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869257979212-3j9cfmc1l9ukuo247gf41cre03putb0p</string>
	<key>API_KEY</key>
	<string>AIzaSyB5VIfxXPACZdkA_1oHoGwuPuUvigzJLlE</string>
	<key>GCM_SENDER_ID</key>
	<string>869257979212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>my.macPc.lolP-gg</string>
	<key>PROJECT_ID</key>
	<string>lolpgg-d37ed</string>
	<key>STORAGE_BUCKET</key>
	<string>lolpgg-d37ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869257979212:ios:e957ee6c1adb6dd7bbdbe9</string>
</dict>
</plist>