<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>893399852680-d207flb8qt7a0ekm0lr0v5g30paie1s5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.893399852680-d207flb8qt7a0ekm0lr0v5g30paie1s5</string>
	<key>API_KEY</key>
	<string>AIzaSyDd3Hw6pTa8Sm2WjasDRHtUYV2XjxO-D5U</string>
	<key>GCM_SENDER_ID</key>
	<string>893399852680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>my.macPc.lolP-gg</string>
	<key>PROJECT_ID</key>
	<string>my-project-4ad5a</string>
	<key>STORAGE_BUCKET</key>
	<string>my-project-4ad5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893399852680:ios:c9650670fd8ad6a37b613d</string>
</dict>
</plist>